<div class="ui-card__container">
  <div class="card {{ classSkinCard }}"
    [ngClass]="{'flippend': cardIsFlipped}"
  >
      <!-- FRONT -->
      <div class="card__face card__face--front">
          <div class="effects">
              <div class="effects--ball"></div>
              <div class="effects--lines"></div>
          </div>

          <div class="logo-card"></div>

          <!-- Credit Data-->
          <div class="number-card">{{ dataCredit.number ? (dataCredit.number |  uicardmask) : '**** **** **** ****' }} </div>
          <div class="name-card">{{ dataCredit.holderName ? dataCredit.holderName : 'Nome e Sobrenome' }}</div>
          <div class="date-card">{{ dataCredit.expiryMonth ? (dataCredit.expiryMonth  | mask: '00/00') : '00/00'  }} </div>


          <div class="skin-card--container"><div class="skin-card--mask"><div class="skin-card--color"></div></div></div>
      </div>

      <!-- BACK -->
      <div class="card__face card__face--back">
          <div class="effects">
              <div class="effects--ball"></div>
              <div class="effects--lines"></div>
          </div>
          <div class="black-tarja"></div>
          <div class="container-white">
              <div class="cvv-code">{{ dataCredit.cvv ? dataCredit.cvv : '***' }}</div>
          </div>
          <div class="skin-card--container"><div class="skin-card--mask"><div class="skin-card--color"></div></div></div>
      </div>
  </div>
</div>
