<div class="ui-card__container">
  <div class="card">
      <!-- FRONT -->
      <div class="card__face card__face--front">
          <div class="effects">
              <div class="effects--ball"></div>
              <div class="effects--lines"></div>
          </div>

          <div class="logo-card"></div>

          <!-- Credit Data-->
          <div class="number-card">**** **** **** ****</div>
          <div class="name-card">Nome e Sobrenome</div>
          <div class="date-card">MM/AA</div>
          
          
          <div class="skin-card--container"><div class="skin-card--mask"><div class="skin-card--color"></div></div></div>
      </div>

      <!-- BACK -->
      <div class="card__face card__face--back">
          <div class="effects">
              <div class="effects--ball"></div>
              <div class="effects--lines"></div>
          </div>
          <div class="black-tarja"></div>
          <div class="container-white">
              <div class="cvc-code">***</div>
          </div>
          <div class="skin-card--container"><div class="skin-card--mask"><div class="skin-card--color"></div></div></div>
      </div>
  </div>
</div>