/**
*   Variables
*
*   @project:       DemoShop.com.br
*   @version:       1.0.0
*   @description:   Aqui ficam as variáveis como cores, fontes e etc.
*   @author:        Thiago Corbalan
*   @date:          24/08/2019
*   @update:        ---
*/


$colors: (
  white: #FFFFFF,
  black: #000000,
  gray100:#F7F7F7,
  gray200:#E6E6E6,
  gray:#C9C9C9,
  gray400:#707070,
  gray500:#3C3C3C,
  yellow:#F6BB1D,
  green: #75B812,
  red100: #DE4B4B,
  red: #DA3331
);
