<header class="header">
    <div class="header-content">
      <img src="../assets/images/demoshop-logo.svg" alt="DemoShop" class="logo" alt="DemoShop">

      <menu class="menu">
        <ul>
          <li><button type="button" class="rect"></button></li>
          <li><button type="button" class="rect"></button></li>
          <li><button type="button" class="rect"></button></li>
          <li><button type="button" class="rect"></button></li>
          <li><button type="button" class="rect"></button></li>
        </ul>
      </menu>
    </div>
  </header>
