<header class="header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <img src="../assets/images/demoshop-logo.svg" alt="DemoShop" class="logo" alt="DemoShop">
        </div>
        <div class="col">
          <menu class="menu">
            <ul>
              <li><button type="button" class="rect"></button></li>
              <li><button type="button" class="rect"></button></li>
              <li><button type="button" class="rect"></button></li>
              <li><button type="button" class="rect"></button></li>
              <li><button type="button" class="rect"></button></li>
            </ul>
          </menu>
        </div>
      </div>
    </div>
  </header>
