@import "../../../assets/scss/core";

.header{
  background: map-get($colors, white);
  border-bottom: 1px solid map-get($colors, gray);
  height: 100%;

  .header-content{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
  }

  .menu {
    justify-self: end;
    &, ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;

      li button{
        display: block;
        border: 0;
        width: em(100px);
        height: em(18px);

        transition: background .3s ease-in-out;

        &:hover, &:focus{
          background: map-get($colors, gray400);
        }
      }
    }
  }

  @include media-breakpoint-down(md){
    display: none;
  }
}
