@import "./../../../assets/scss/core";

.icon{
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;

  &:before{
    display: block;
    width: inherit;
    height: inherit;
    line-height: 16px;
  }

  &.arrow-left:before{
    content: url("../../../assets/images/icon-arrow-left.svg");
  }

  &.credit-card:before{
    content: url("../../../assets/images/credit-card.svg");
  }

  &.info:before{
    content: url("../../../assets/images/info.svg");
  }
}
.card-area{
  background: map-get($colors, red100);
  color: map-get($colors, white);
  height: 100%;

  .btn.btn-prev{
    font-size: em(13px);
    line-height: em(22px,13);
    background: transparent;
    display: block;
    text-align: left;
    border: none;
    color: inherit;
    padding: 1em;
    padding-left: 0;
  }

  h1{
    font-size: em(20px);
    text-align: left;
    letter-spacing: -0.01px;
    display: flex;
    align-items: center;
    margin: em(53px,20) 0 em(30px,20);

    .icon.credit-card{
       width: em(50px,20);
       height: em(50px,20);
       margin-right: em(16px,20);

    }
  }
}

.breadcrumb {
  margin: 1em 0 em(53px);

  ol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    counter-reset: my-awesome-counter;
    padding: 0;
    margin: 0;

    li{
      counter-increment: my-awesome-counter;
      &:before{
        content: counter(my-awesome-counter);
        width: em(22px,12);
        height: em(22px,12);
        line-height: em(20px,12);
        text-align: center;
        display: inline-block;
        border: em(1px) solid map-get($colors, red100);
        font-family: $font-family-secondary;
        font-weight: 700;
        color:  map-get($colors, red100);
        margin-right: em(8px);
        font-size: em(12px);
        @include border-radius(50%);
      }

      &.active:before{
        content: url("../../../assets/images/icon-check.svg");
        background: map-get($colors, red100);
        line-height: em(22px,12)
      }
      &:after{
        content:  url("./../../../assets/images/icon-arrow.svg");
        display: inline-block;
        width: em(16px);
        height: em(16px);
        line-height: em(16px);
        vertical-align: middle;
        margin-left: em(18px);
      }

      &:last-child:after{ content: none; }

      .breadcrumb-item__text{
        display: inline-block;
        font-family: $font-family-secondary;
        color:  map-get($colors, red100);
        font-size: em(13px);
      }
    }
  }
}


.main-content{
  text-align: right;

  form {
    > * {
      width: 100%;
    }

    .icon.info{
      border: 0;
      background: none;
      cursor: pointer;
      width: 18px;
      height: 18px;
      padding: 0;
      z-index: 1000000;
      pointer-events: all;
    }

    button.btn{
      border: 0;
      background: map-get($colors, red100);
      padding: em(14px) em(70px);
      width: em(246px);
      text-transform: uppercase;
      color: map-get($colors, white);
      letter-spacing: -0.01px;
      font-weight: em(17px);
      line-height: em(22px);
      font-weight: 600;
      font-family: $font-family-secondary;
      margin-top: em(41px);
      @include border-radius(10px);
      @include transition(all .2s ease-in-out);

      &:hover, &:focus{
        background: map-get($colors, red);
      }


    }

  }

  .form-fields-inline{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

}
