@import "../assets/scss/core";

.main-container{
  display: grid;
  grid-template-columns: minmax(1024px, 1fr) 1fr;
  grid-gap: 15px;
  padding: 0 15px;
  max-width: 1366px;
  margin: auto;

  @include media-breakpoint-down(md){
    padding: 0;
  }
  @include media-breakpoint-down(lg){
    grid-template-columns: 1fr;
  }
}


main{
  place-self: center;

  .main-content{
    background: map-get($colors, white );
  }



  @include media-breakpoint-down(md){
    padding: 0;
  }
}

