@import "../assets/scss/core";

body{
  background: #f00;
}


main{
  padding: em(65px) 0 em(15px);

  .main-content{
    background: map-get($colors, white );
  }



  @include media-breakpoint-down(sm){
    padding: 0;

    .aside{
      display: none;
    }
  }
}

