@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


@import './assets/scss/core';


@include font-face($font-family-secondary, 'SFProText-Regular', $font-weight: 400);
@include font-face($font-family-secondary, 'SFProText-SemiBold', $font-weight: 600);


html,
body,
app-root {
  height: 100%;
}

body {
  background: map-get($colors, gray100);
  font-size: 100%;
  overflow-y: scroll;
  font-family: $font-family-primary;

  @include media-breakpoint-down(md) {
    background: map-get($colors, white);
  }
}

app-root {
  display: grid;
  grid-template-rows: 90px 1fr 68px;

  @include media-breakpoint-down(md) {
    display: initial;
  }
}

.rect {
  background: map-get($colors, gray);
  @include border-radius(5px);
}


// Custom Matform and DropDown
.mat-form-field-appearance-legacy {
  .mat-form-field-label {
    color: map-get($colors, gray);
    font-family: $font-family-secondary;
    font-size: em(17px);
  }

  .mat-form-field-underline {
    background: map-get($colors, gray);
  }

  .mat-input-element {
    font-family: $font-family-secondary;
    font-size: em(17px);
    color: map-get($colors, gray500);

  }
}

mat-form-field {
  .mat-form-field-infix {
    width: 100%;
  }

  .mat-select-arrow {
    width: 16px;
    height: 16px;
    border: 0 !important;
    transform: rotate(90deg);

    &:before {
      content: url('assets/images/icon-arrow.svg');
    }
  }
}